body {
  font-size: 16px;
  color: #000000;
  background-color: #87CEFA;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: #90EE90;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/* Navigation List */
#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #FFA500;
}
#nav-list a span {
  font-size: 1.8em;
}

/* End Navigation List */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFA500;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
